<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Arvo|Open+Sans" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sabercat 404</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <center>
        <div>
            <h1>Oof. You found a 404 page.</h1>
            <h3>If this is really a problem, <a href="mailto:sabercatrobotics@gmail.com">tell us about it.</a></h3>
        </div>
    </center>
</body>
</html>